<!DOCTYPE html>
<!--[if lte IE 9]><html class="no-js ie9 "> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="author" content="{{ settings.metaSitename }}">
    <meta name="description" content="{{ settings.metaDesc }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ settings.metaTitle }}</title>

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="{{ settings.metaTitle }}">
    <meta name="twitter:creator" content="{{ settings.metaSitename }}">
    <meta name="twitter:title" content="{{ settings.metaTitle }}">
    <meta name="twitter:description" content="{{ settings.metaDesc }}">
    <meta name="twitter:image:src" content="{{ settings.metaImg }}">

    <!-- Open Graph -->
    <meta property="og:url" content="{{ express.locals.metaUrl }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ settings.metaTitle }}">
    <meta property="og:image" content="{{ settings.metaImg }}"/>
    <meta property="og:description" content="{{ settings.metaDesc }}">
    <meta property="og:site_name" content="{{ settings.metaSitename }}">

    <link rel="apple-touch-icon" sizes="57x57" href="{{ settings.baseUrl }}icons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ settings.baseUrl }}icons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ settings.baseUrl }}icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ settings.baseUrl }}icons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ settings.baseUrl }}icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ settings.baseUrl }}icons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ settings.baseUrl }}icons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ settings.baseUrl }}icons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ settings.baseUrl }}icons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="{{ settings.baseUrl }}icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ settings.baseUrl }}icons/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="{{ settings.baseUrl }}icons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="{{ settings.baseUrl }}icons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="{{ settings.baseUrl }}icons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="{{ settings.baseUrl }}icons/manifest.json">
    <link rel="shortcut icon" href="{{ settings.baseUrl }}icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-TileImage" content="{{ settings.baseUrl }}icons/mstile-144x144.png">
    <meta name="msapplication-config" content="{{ settings.baseUrl }}icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="{{ settings.baseUrl }}css/app.css">

    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ settings.baseUrl }}js/vendor/respond.min.js">
    <![endif]-->

    <script type="text/javascript">
        var BASE = "{{ settings.baseUrl }}";
    </script>
</head>

<body>

<header></header>

{% block content %}{% endblock %}

<footer></footer>

<script type="text/javascript" src="{{ settings.baseUrl }}js/app.js" async="async"></script>
</body>
</html>
